<!-- Fichier: app.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Boba Fousseiny Kamate</title>
 </head>
<body>
   <div class="container">
 
     
        <p class="login-text">Ajout des Regles (Optionnel)</p>
        
        
          

          
          
          
    <div class="boutton" style="display: flex;justify-content: space-evenly;margin-top: 100px;">        
        <button id="button-add-param" (click)="add()">Ajouter</button>
        <button id="button-add-param" (click)="next()">Suivant</button>
     </div>
   </div> 
</body>
</html>

