<!-- Fichier: app.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Boba Fousseiny Kamate</title>
 </head>
<body>
   <div class="container">
 
     
        <p class="login-text">Logique de Structuration (Optionnel)</p>
        
        
          

          
          
          
    <div class="boutton" style="display: flex;flex-direction:row;justify-content: space-evenly;margin-top: 100px;">   
      <div style="display: flex;flex-direction:column;justify-content: space-evenly;" >
         <button id="button-add-param" style="margin-bottom: 40px;" (click)="add()">Regles</button>
         <button id="button-add-param" (click)="injection()">Injections</button>
      </div>     
        <div style="display: flex;flex-direction:column;justify-content: space-evenly;" >
         <button id="button-add-param"  style="margin-bottom: 40px;"  (click)="echantillon()">Echantillonnage</button>
        <button id="button-add-param" (click)="next()">Suivant</button>
        </div>
     </div>
   </div> 
</body>
</html>

