<!-- Fichier: app.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Boba Fousseiny Kamate</title>
 </head>
<body>
   <div class="container" style="background-color: #686ee0;">
 
     
        <p class="login-text">Injections de donnees</p>
        
        
        
          

          
          
          
    <div class="boutton" style="display: flex;flex-direction:row;justify-content: space-evenly;margin-top: 70px;">   
      <div style="display: flex;flex-direction:column;justify-content: space-evenly;"   >
         <div style="margin-bottom: 40px;display: flex;align-items: center;flex-direction: column;" (click)="NewLine()">
            <p style="color: white;font-size: 18px;font-weight: bold;">Ajout de lignes</p>  
            <img  style="height:50px;width:50px" src="../../assets/add.png"  alt="ajout de ligne">
         </div>
         <div style="margin-bottom: 40px;display: flex;align-items: center;flex-direction: column;" (click)="Edit()">
            <p style="color: white;font-size: 18px;font-weight: bold;">Modifier</p>  
            <img  style="height:50px;width:50px" src="../../assets/edit.png"  alt="ajout de ligne">
         </div> 
         
       </div>     
       
        <div style="display: flex;flex-direction:column;justify-content: space-evenly;" >
            <div style="margin-bottom: 40px;display: flex;align-items: center;flex-direction: column;"(click)="NewColunm()">
                <p style="color: white;font-size: 18px;font-weight: bold;">Ajout de Colonnes</p>  
                <img  style="height:50px;width:50px" src="../../assets/columns.png"  alt="ajout de ligne">
             </div>  
             <div style="margin-bottom: 40px; display: flex; align-items: center; flex-direction: column;">
               <p style="color: white; font-size: 18px; font-weight: bold;">Upload un fichier</p>  
               <img style="height: 50px; width: 50px;" src="../../assets/fichier.png" (click)="triggerFileInput()" alt="Ajout de fichier">
               <input type="file" #fileInput style="display: none;" (change)="uploadFile($event)">
               <p style="margin-top: 10px;">{{ uploadedFileName }}</p>
             </div>
             
           
                 
         </div>
         
     </div>
     <div class="boutton"   >
      <button class="button-add-param" style="margin-bottom: 40px;" >Cree</button>
      </div> 
   </div> 
</body>
</html>

