<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Titre de la page</title>
     
</head>
<body>
    <div class="container" style="background-color: #686ee0;">
        <p class="login-text">Echantillonnage de données</p>
        <input type="file" (change)="onFileSelected($event)" multiple>
        <div class="file-container" *ngFor="let file of files">
            <p class="file-name">{{ file.name }}</p>
            <img src="../../assets/poubelle (1).png" (click)="deleteFile(file)" alt="Supprimer le fichier">
        </div>
        <div class="boutton" style="padding: 20px;">
            <button (click)="validate()">Valider</button>
        </div>
    </div>
</body>
</html>
