<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title></title>
 </head>
<body>
   <div class="container">
    <ng-container *ngIf="selectedParametre; else error">
    <p class="login-text">Saisie des conditions ( {{ selectedParametre.parametreName }} )</p>

    <div *ngFor="let item of selectedParametre.conditions let index = index ">
        <div class="input-param">
          <select class="option-param" #parameter>
            <option *ngFor="let param of paramName" [value]="param" [selected]="item[0] === param">{{ param }}</option>
        </select>
          <select class="option-param" #operator>
            <option value="Egale" [selected]="item[1]  === 'Egale'">Egale</option>
            <option value="Inferiere" [selected]="item[1]  === 'Inferiere'">Inferiere</option>
            <option value="Superieur" [selected]="item[1]  === 'Superieur'">Superieur</option>
            <option value="Intervalle" [selected]="item[1]  === 'Intervalle'">Intervalle</option>
        </select>
          <input #baseInput type="text" placeholder="valeur" [value]="item[2]">
          <select #typeSelect class="option-param" [value]="item[3]">
            <option value="Nombre" [selected]="item[3] === 'Nombre'">Nombre</option>
            <option value="Chaine" [selected]="item[3] === 'Chaine'">Chaine</option>
            <option value="Intervalle" [selected]="item[3] === 'Intervalle'">Intervalle</option>
            <!-- Ajoutez d'autres options si nécessaire -->
          </select>
           
          <img src="../../assets/poubelle.png" (click)="Deletes(index)" alt="poubelle" style="height: 30px;width: 30px;margin-left: 3px;margin-top: 3px;">

        </div>
      </div>
      

   <div style="display: flex;flex-direction: row;justify-content: space-evenly;">
    <div class="boutton">
        <button (click)="NewLine()" class="boutton-link">nouvelle ligne</button>
    </div>  
    <div class="boutton">
        <button (click)="SaveData()" class="boutton-link">Enregistrer</button>
    </div>  
   </div>
  
    </ng-container>
    <ng-template #error>
      <p class="login-text">Paramètre introuvable</p>
    </ng-template>
   </div> 
</body>
</html>
