<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>login</title>
</head>
<body>
   <div class="container">
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <p class="login-text">Creation de Compte</p>
        <div class="input-text">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
              <path d="M20.4 18.5c-.9-.6-3.1-1.5-5.4-1.5s-4.4.9-5.4 1.5"></path>
              <path d="M4.6 18.5c.9-.6 3.1-1.5 5.4-1.5s4.4.9 5.4 1.5"></path>
              <circle cx="12" cy="8" r="3.5"></circle>
            </svg>
        </div>
        <div class="input-text">
            <input type="text" [(ngModel)]="password" name="password" placeholder="Password" required>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
        </div>
        <div class="Remenber-section">
          </div>
        <div class="boutton">
          <button type="submit" [disabled]="!loginForm.form.valid">Cree</button>
        </div>
        <div class="bottom-section">
            <p><a routerLink="/login">Se connecter</a></p>
        </div>
    </form>
   </div> 
</body>
</html>
